name: CI

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'ci/**'
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install modules
      run: npm ci
    - name: Run ESLint
      run: npm run lint

  types:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install modules
      run: npm ci
    - name: Check Types
      run: npm run check-types

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install modules
      run: npm ci
    - name: Build Server
      run: npm run build

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install modules
      run: npm ci
    - name: Run Tests
      run: npm test
